Django==1.7.4
PAM==0.1.4
Pillow==2.6.1
PyYAML==3.11
SecretStorage==2.1.1
South==1.0.2
dj-database-url==0.3.0
gunicorn==19.3.0
html5lib==0.99999999
httplib2==0.9
urllib3==1.8.3
psycopg2==2.5.4
whitenoise==1.0.6

